/* ====================================
   Variables
   ==================================== */
/*
    Typography
    ==================================== */
$font-Arial: Arial, sans-serif;

/*
    Colors
    ==================================== */

$m-colorList: (
    "white"     : #fff,
    "base"      : #4a4a4a
);

/*
    Spacing
    ==================================== */
$spacing-size-0:         0;
$spacing-size-xs:        6;
$spacing-size-s:        12;
$spacing-size-m:        24;
$spacing-size-l:        36;
$spacing-size-xl:       48;
$spacing-size-xxl:      72;

/*
    Responsive Breakpoints
    ==================================== */
$bp-0:          0;
$bp-alpha:      480;
$bp-beta:       768;
$bp-gamma:      1025;
$bp-delta:      1200;


/*
    Grid
    ==================================== */
$grid-columns-m:        2;
$grid-columns:          3;
$grid-min-width:        320;
$grid-max-width:        980;
$grid-gutter:           10;
