language: node_js
cache:
  directories:
  - node_modules
node_js:
- 5.10.1
addons:
  ssh_known_hosts: engineroom1.koumbit.net
before_install:
- openssl aes-256-cbc -K $encrypted_1ad92656603a_key -iv $encrypted_1ad92656603a_iv
  -in deploy-key-ippr.enc -out deploy-key-ippr -d
- chmod 600 ~/.ssh/config
- chmod 600 deploy-key-ippr
- mv deploy-key-ippr ~/.ssh/id_rsa
- rm deploy-key-ippr.enc
- echo -e "Host engineroom1.koumbit.net" >> ~/.ssh/config
- echo -e "IdentityFile ~/.ssh/id_rsa" >> ~/.ssh/config
- bash scripts/install.sh
before_script:
- bash scripts/install.sh
- npm install grunt-cli -g
script:
- bash scripts/build.sh
after_success:
- bash scripts/deploy.sh
branches:
  only:
  - master
