/* ====================================
   Lists
   ==================================== */

.List {
    .collection,
    .collapsible {
        margin: 0;
        border: 0;
    }

    margin-bottom: 20px;
}

.List-holder {
    max-height: 500px;
    overflow: auto;
    border: 1px solid #e0e0e0;
}

.List-title {
    font-size: 20px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    margin: 0 0 -1px 0;
}
