/* ====================================
   Search
   ==================================== */

.Search {
    position: relative;
    z-index: 2;

    .input-field {
        margin: 0;
    }

    input:not([type]) {
        background-color: #fff;
        color: #000;
        box-sizing: border-box;
        padding: 20px 0 20px 50px;
        margin: 0;

        &:focus {
            color: #000;
            border-color: #fff;
        }
    }

    label {
        color: #000;
        top: 50%;
        transform: translate(0,-50%);
    }
}
