/* ====================================
   Tabs
   ==================================== */

.tabs .indicator { display: none; }
.tabs {

    display: inline-block;
    vertical-align: bottom;
    margin-top: 20px;
    height: auto;
    background-color: transparent;
    width: auto !important;
    white-space: normal;
    font-size: 0;

    .tab {

        display: inline-block;
        vertical-align: bottom;
        float: none;
        width: 100%;
        text-transform: inherit;
        height: auto;
        line-height: 1;
        margin: 0;
        backface-visibility: hidden;


        @media #{$medium-and-up} {
            width: auto;
            margin: 0 10px;

            a {
                font-weight: bold;
                padding: 20px 40px;
            }
        }

        a {
            background: rgba(0,0,0,0.40);
            padding: 20px 30px;
            color: #FFFFFF;
            text-transform: uppercase;

            @include fluid-type(font-size, 320px, 1900px, 15px, 20px);

            backface-visibility: hidden;
            transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;

            &.active {
                background: $accent;
                color: #fff;
                &:hover {
                    color: #fff;
                }
            }

            &:hover {
                color: inherit;
                background: $accent;
            }
        }
    }
}


/* ====================================
   Filters
   ==================================== */

.Filters {
    position: absolute;
    display: none;
    @media #{$medium-and-up} {
        display: inline-block;
        vertical-align: middle;
        font-size: 0;
    }

    &-item {
        display: inline-block;
        cursor: pointer;
        margin: 0 10px;
    }

}


