/* ====================================
   Tabs
   ==================================== */

.tabs .indicator { display: none; }
.tabs {

    display: inline-block;
    vertical-align: bottom;
    margin-top: 20px;
    height: auto;
    background-color: transparent;
    width: auto !important;
    white-space: normal;

    .tab {

        display: inline-block;
        vertical-align: bottom;
        float: none;
        width: 80%;
        text-transform: inherit;
        height: auto;
        line-height: 1;
        margin: 0;
        backface-visibility: hidden;


        @media screen and (min-width: 560px) {
            width: auto;
            margin: 0 10px;
        }

        a {
            background: rgba(0,0,0,0.40);
            padding: 20px 40px;
            color: #FFFFFF;
            font-weight: bold;
            text-transform: uppercase;

            @include fluid-type(font-size, 320px, 1900px, 15px, 20px);

            backface-visibility: hidden;
            transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;

            &.active {
                background: #E7B51F;
                color: #fff;
                &:hover {
                    color: #fff;
                }
            }

            &:hover {
                color: inherit;
                background: #E7B51F;
            }
        }
    }
}


/* ====================================
   Filters
   ==================================== */

.Filters {
    margin: 0;
    display: block;
    text-align: center;
    padding: 20px 0;
    font-size: 0;

    &-item {
        display: inline-block;
        border-left: #D8D8D8 1px solid;

        &:first-child {
            border-left: 0;
        }
    }

    &-itemFilter {
        display: block;
        padding: 15px 20px;
        background: #EEE;
        font-size: 16px;
        text-transform: uppercase;
        color: rgba(0,0,0,0.5);
        cursor: pointer;

        backface-visibility: hidden;
        transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;

        &.is-active,
        &:hover {
            background: #E7B51F;
            color: #fff;
        }

    }

}


