/*  ==========================================================================
    Helpers
    ========================================================================== */
@mixin default-icon-font( $font_name ) {
    font-family: $font_name;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

@mixin default-button {
    display: inline-block;
    width: auto;
    height: auto;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;

    &::-moz-focus-inner    {
        border: 0;
        padding: 0;
    }

}

@mixin font-gradient-enable {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

/**
 * =============================================================================
 * Image replacement
 * =============================================================================
 */
@mixin helper-ir {
    background-color: transparent;
    background-repeat: no-repeat;
    display: block;
    text-align: left;
    text-indent: -9999px;
    overflow: hidden;
}

/**
 * =============================================================================
 * Clearfix
 * =============================================================================
 */
@mixin cf {

    &:before,
    &:after {
        content: " ";
        display: block;
    }

    &:after {
        clear: both;
    }

}

/**
 * =============================================================================
 * Truncate (3 dot cut text)
 * =============================================================================
 */
@mixin truncate( $truncation-boundary: 100% ) {
    max-width: $truncation-boundary;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/**
 * =============================================================================
 * Hover and focus
 * =============================================================================
 */
@mixin hover {

    &:hover,
    &:focus {
        @content;
        outline: 0;
    }

}

/**
 * =============================================================================
 * Box shadow
 * =============================================================================
 */
@mixin box-shadow($value) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}

/**
 * =============================================================================
 * Rotate
 * =============================================================================
 */
@mixin rotate($value) {
    -webkit-transform: rotate($value);
    -moz-transform: rotate($value);
    transform: rotate($value);
}

/**
 * =============================================================================
 * Animation
 * =============================================================================
 */
@mixin transition_transform($duration: 300, $easing: ease-in-out ){
    -webkit-transition: -webkit-transform #{$duration}ms #{$easing};
    -moz-transition: -moz-transform #{$duration}ms #{$easing};
    -o-transition: -o-transform #{$duration}ms #{$easing};
    transition: transform #{$duration}ms #{$easing};
}

/**
 * =============================================================================
 * Opacity
 * =============================================================================
 */
@mixin opacity($opacity) {
    $opacity-ie: $opacity * 100;
    opacity: $opacity;
    filter: alpha(opacity=$opacity-ie);
}

/**
 * =============================================================================
 * Progressive enhancement
 * =============================================================================
 */
$css3: true !default;

@mixin css3 {
    @if $css3 {
        @content;
    }
}

/**
 * =============================================================================
 * Breakpoints mixin w/ fixed fallaback
 * =============================================================================
 */
$fix-mq: false !default;

@mixin bp($point) {
    @if $fix-mq {
        @if $fix-mq >= $point {
            @content;
        }
    }
    @else {
        @if type-of($point) == "number" {
            @media screen and (min-width: $point + em-calc(1)) {
                @content;
            }
        } @else {
            @if $point == "portrait" {
                @media only screen and (orientation : portrait)  {
                    @content;
                }
            } @else if $point == "landscape" {
                @media only screen and (orientation : landscape)  {
                    @content;
                }
            } @else if $point == "retina" {
                @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)  {
                    @content;
                }
            }
        }
    }
}
@mixin bpMax($point) {
    @media screen and (max-width: $point) {
        @content;
    }
}

/**
 * =============================================================================
 * Absolute positioning
 * =============================================================================
 */
@mixin absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

/**
 * =============================================================================
 * Sizing elements
 * =============================================================================
 */
@mixin sizing($width, $height: $width) {
    width: $width;
    height: $height;
}


